In [1]:
# Jupyter Notebook Code
import pandas as pd

# Load the data before 2024-03-05 23:00:00
data_before = pd.read_csv('./../sample-data/organized_parking_data_NEW.csv')

# Load the data after 2024-03-05 23:00:00
data_after = pd.read_csv('./../sample-data/output.csv')

# Ensure the Timestamp column is in datetime format
data_before['Timestamp'] = pd.to_datetime(data_before['Timestamp'])
data_after['Timestamp'] = pd.to_datetime(data_after['Hour'])
# Combine the data
combined_data = pd.concat([data_before, data_after])

# Sort the data by Timestamp
combined_data = combined_data.sort_values(by='Timestamp').reset_index(drop=True)

# Save the combined data to a new CSV file
combined_csv_file_path = 'combined_parking_data.csv'
combined_data.to_csv(combined_csv_file_path, index=False)

print(f"Combined data has been successfully saved to {combined_csv_file_path}")

Combined data has been successfully saved to combined_parking_data.csv

In [2]:
data_after

,Hour,North,West,Rose,Health Sciences,Fraser,Thunderbird,University Lot Blvd,Timestamp
0,2018-09-06 09:00:00,950,1015.0,475,909,556,934,NaN,2018-09-06 09:00:00
1,2018-09-06 10:00:00,918,1160.0,612,972,706,1049,NaN,2018-09-06 10:00:00
2,2018-09-06 11:00:00,832,1210.0,659,964,724,1072,NaN,2018-09-06 11:00:00
3,2018-09-06 12:00:00,850,1166.0,695,953,720,1095,NaN,2018-09-06 12:00:00
4,2018-09-06 13:00:00,859,1219.0,709,962,727,1073,NaN,2018-09-06 13:00:00
...,...,...,...,...,...,...,...,...,...
51055,2024-07-04 18:00:00,393,514.0,193,921,163,502,77.0,2024-07-04 18:00:00
51056,2024-07-04 19:00:00,398,496.0,210,917,164,493,64.0,2024-07-04 19:00:00
51057,2024-07-04 20:00:00,398,514.0,225,908,176,511,62.0,2024-07-04 20:00:00
51058,2024-07-04 21:00:00,350,487.0,220,879,165,463,64.0,2024-07-04 21:00:00
51059,2024-07-04 22:00:00,292,462.0,213,811,168,440,60.0,2024-07-04 22:00:00

In [3]:
# IGNORE THIS