In [22]:
import pandas as pd

In [23]:
weather_df = pd.read_csv('./../sample-data/weather_data_10_years_preprocessed.csv')

weather_df.head()

,Timestamp,temp_min,temp_max,temp_avg,visibility_min,visibility_max,visibility_avg,dew_point_min,dew_point_max,dew_point_avg,...,wind_speed_avg,clouds_all_min,clouds_all_max,clouds_all_avg,rain_1h_min,rain_1h_max,rain_1h_avg,snow_1h_min,snow_1h_max,snow_1h_avg
0,2014-03-06 00:00:00,7.38,9.79,8.595556,6437.0,10000.0,9685.111111,6.12,8.03,7.188519,...,7.87037,75,100,99.074074,0.1,3.27,1.117083,NaN,NaN,NaN
1,2014-03-06 01:00:00,7.38,9.79,8.595556,6437.0,10000.0,9685.111111,6.12,8.03,7.188519,...,7.87037,75,100,99.074074,0.1,3.27,1.117083,NaN,NaN,NaN
2,2014-03-06 02:00:00,7.38,9.79,8.595556,6437.0,10000.0,9685.111111,6.12,8.03,7.188519,...,7.87037,75,100,99.074074,0.1,3.27,1.117083,NaN,NaN,NaN
3,2014-03-06 03:00:00,7.38,9.79,8.595556,6437.0,10000.0,9685.111111,6.12,8.03,7.188519,...,7.87037,75,100,99.074074,0.1,3.27,1.117083,NaN,NaN,NaN
4,2014-03-06 04:00:00,7.38,9.79,8.595556,6437.0,10000.0,9685.111111,6.12,8.03,7.188519,...,7.87037,75,100,99.074074,0.1,3.27,1.117083,NaN,NaN,NaN

In [24]:
import pandas as pd

# Load the data from CSV
parking_df = pd.read_csv('./../sample-data/output.csv')

# Rename the 'Hour' column to 'Timestamp'
parking_df.rename(columns={'Hour': 'Timestamp'}, inplace=True)

# Display the first few rows of the DataFrame to verify the change
print(parking_df.head())

             Timestamp  North    West  Rose  Health Sciences  Fraser  \
0  2018-09-06 09:00:00    950  1015.0   475              909     556
1  2018-09-06 10:00:00    918  1160.0   612              972     706
2  2018-09-06 11:00:00    832  1210.0   659              964     724
3  2018-09-06 12:00:00    850  1166.0   695              953     720
4  2018-09-06 13:00:00    859  1219.0   709              962     727

   Thunderbird  University Lot Blvd
0          934                  NaN
1         1049                  NaN
2         1072                  NaN
3         1095                  NaN
4         1073                  NaN

In [25]:
# Merge the two DataFrames on 'Timestamp'
combined_df = pd.merge(parking_df, weather_df, on='Timestamp')

print(combined_df)

                 Timestamp  North    West  Rose  Health Sciences  Fraser  \
0      2018-09-06 09:00:00    950  1015.0   475              909     556
1      2018-09-06 10:00:00    918  1160.0   612              972     706
2      2018-09-06 11:00:00    832  1210.0   659              964     724
3      2018-09-06 12:00:00    850  1166.0   695              953     720
4      2018-09-06 13:00:00    859  1219.0   709              962     727
...                    ...    ...     ...   ...              ...     ...
51008  2024-07-02 19:00:00    428   521.0   225              783     203
51009  2024-07-02 20:00:00    435   539.0   241              803     204
51010  2024-07-02 21:00:00    383   536.0   220              805     188
51011  2024-07-02 22:00:00    286   351.0   194              687     175
51012  2024-07-02 23:00:00    184   203.0    96              546      97

       Thunderbird  University Lot Blvd  temp_min  temp_max  ...  \
0              934                  NaN     13.85     24.05  ...
1             1049                  NaN     13.85     24.05  ...
2             1072                  NaN     13.85     24.05  ...
3             1095                  NaN     13.85     24.05  ...
4             1073                  NaN     13.85     24.05  ...
...            ...                  ...       ...       ...  ...
51008          480                 73.0     12.88     20.89  ...
51009          482                 76.0     12.88     20.89  ...
51010          437                 69.0     12.88     20.89  ...
51011          359                 83.0     12.88     20.89  ...
51012          199                 41.0     12.88     20.89  ...

       wind_speed_avg  clouds_all_min  clouds_all_max  clouds_all_avg  \
0             2.19875               0             100       49.166667
1             2.19875               0             100       49.166667
2             2.19875               0             100       49.166667
3             2.19875               0             100       49.166667
4             2.19875               0             100       49.166667
...               ...             ...             ...             ...
51008         4.64250               0             100       40.208333
51009         4.64250               0             100       40.208333
51010         4.64250               0             100       40.208333
51011         4.64250               0             100       40.208333
51012         4.64250               0             100       40.208333

       rain_1h_min  rain_1h_max  rain_1h_avg  snow_1h_min  snow_1h_max  \
0             0.10         0.10        0.100         0.14         0.14
1             0.10         0.10        0.100         0.14         0.14
2             0.10         0.10        0.100         0.14         0.14
3             0.10         0.10        0.100         0.14         0.14
4             0.10         0.10        0.100         0.14         0.14
...            ...          ...          ...          ...          ...
51008         0.25         0.76        0.505         0.10         0.49
51009         0.25         0.76        0.505         0.10         0.49
51010         0.25         0.76        0.505         0.10         0.49
51011         0.25         0.76        0.505         0.10         0.49
51012         0.25         0.76        0.505         0.10         0.49

       snow_1h_avg
0         0.140000
1         0.140000
2         0.140000
3         0.140000
4         0.140000
...            ...
51008     0.328889
51009     0.328889
51010     0.328889
51011     0.328889
51012     0.328889

[51013 rows x 38 columns]

In [26]:
combined_df.to_csv('./../sample-data/combined_weather_parking.csv', index=False)

In [27]:

# Filter rows where timestamp is outside of the specified range
combined_df = combined_df[(combined_df['Timestamp'] < '2020-03-15') | (combined_df['Timestamp'] > '2021-09-07')]
# Drop duplicates, keeping the most recent entry for each timestamp
combined_df = combined_df.drop_duplicates(subset='Timestamp', keep='last')

combined_df.to_csv('./../sample-data/combined_weather_parking_WO2020_no_dups.csv', index=False)